#head {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
  color: #2f3750;
}

.btnn {
  background-color: #4eae6f;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 25;
  padding-right: 25;
}

.btnn:hover {
  background-color: #2f3750;
  color: white;
}

.label {
  font-size: 20px;
  font-weight: 700;
  color: #2f3750;
}

.row {
  margin-bottom: 15px;
  padding: 0;
}

.inp {
  border: 1px solid #2f3750;
}

.mar {
  padding-left: 5px;
  padding-right: 5px;
}

.pd {
  padding-left: 3px;
}
